<form method="post" action='/songs'>
  <label for='song_name'>Song name:</label> 
  <input type='text' name='song_name'><br><br>
  <label for='artist_name'>Artist name:</label>
  <input type='text' name='artist_name'><br><br>
  <label for='genre_name'>Genre name:</label> 
  <input type='text' name='genre_name'><br>
  <input type="submit" value="Submit">
</form>
